//Import Bootstrap
@import '../../node_modules/bootstrap/';

.table-striped > tbody > tr:hover {
	background-color: rgb(25, 25, 25);
	position: relative;
	animation: popUp ease 300ms;
	animation-fill-mode: forwards;
	& > td {
		color: white;
	}
}

thead {
	background-color: black;
	color: white;
}

.table-striped > tbody > tr {
	position: relative;
	animation: popBack ease 200ms;
}

.table-striped > tbody > tr > td {
	cursor: pointer;
}

.page-item .page-link {
	color: black !important;
}

.page-item.increment-tab.disabled .page-link {
	color: rgb(184, 184, 184) !important;
}

.page-item.increment-tab .page-link {
	color: black !important;
}

.page-item.active .page-link {
	background-color: black !important;
	color: white !important;
	border-color: black !important;
}

.page-item .page-link {
	cursor: pointer;
}

tr.selected {
	background-color: rgb(25, 25, 25) !important;
	text-align: center;

	& > td {
		color: orange !important;
	}
}

th.selected {
	color: orange !important;
}

th:hover {
	cursor: pointer;
}

.under-anim {
	position: relative;
}

.under-anim:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: orange;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.under-anim.selected:after {
	transform: scaleX(1);
}

.under-anim:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

table {
	table-layout: fixed;
	width: 100%;
}

#loading-overlay {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
	cursor: default !important;
}

#inner-overlay {
	position: absolute;
	width: 50% !important;
	height: 100%;
}

img {
	position: relative;
	top: -150px;
	animation: rotating linear 2s 2, pulse ease 1s 3, fadeOut 3s;
	opacity: 0%;
	height: 0;
	width: 0;
}

figure {
	position: relative;
	bottom: 30px;
	width: 100%;
	animation: fadeOut 3s;
	opacity: 0%;
}

#table-container {
	min-height: 453px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fullApp {
	animation: fadeIn ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popUp {
	0% {
		top: 0px;
		right: 0px;
	}
	100% {
		top: -5px;
		right: -5px;
	}
}

@keyframes popBack {
	0% {
		top: -5px;
		right: -5px;
	}
	100% {
		top: 0px;
		right: 0px;
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		height: 150px;
		width: auto;
	}
	50% {
		height: 170px;
		width: auto;
	}
	100% {
		height: 150px;
		width: auto;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
